/*body {
  padding-top: 50px;
}*/
.logo {
  padding-top: 15px;
  text-align: center;
}

.logo img {
  display: inline-block;
  width: 120px;
}

/* search page layout */

.welcome-search {
  padding: 40px 15px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

/* weather page layout for mobile */
.forecast {
  font-family: 'Montserrat', sans-serif;
}

.forecast .row {
  padding: 10px 0;
}
.city {
  font-size: 14px;
  text-align: center;
}

.conditions {
  font-size: 72px;
  text-align: center;
  vertical-align: middle;
}

.conditions i {
  position: relative;
  top: 10px;
}

.weather {
  font-size: 24px;
  text-align: center;
}

.feels-like {
  font-size: 20px;
  text-align: center;  
}

.subconditions {
  font-size: 20px;
}

.subconditions i {
  font-size: 36px;
  text-align: center;
  width: 100%;
}

.short-term {
  font-size: 18px;
}

.short-term i {
  font-size: 36px;
  text-align: right;
  position: relative;
  top: 10px;
  width: 100%;
}

.long-term {
  font-size: 18px;
  text-align: center;
}

.long-term i {
  font-size: 36px;
  text-align: right;
  position: relative;
  top: 10px;
  width: 100%;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 48em) {

  .forecast .row {
    padding: 20px 0;
  }

  .city {
    font-size: 20px;
  }

  .conditions {
    font-size: 144px;
  }

  .weather {
    font-size: 48px;
  }

  .feels-like {
    font-size: 36px;
  }

  .short-term i {
    font-size: 56px;
  }

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 62em) {
  .weather {
    padding-top: 30px;
  }

  .conditions {
    font-size: 120px;
  }

  .weather {
    font-size: 36px;
  }

  .feels-like {
    font-size: 24px;
  }

  .long-term {
    font-size: 14px;
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 75em) {
  .conditions {
    font-size: 144px;
  }

  .weather {
    font-size: 48px;
  }

  .feels-like {
    font-size: 36px;
  }

  .long-term {
    font-size: 20px;
  }}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
  padding-top: 5px;
}

.footer p {
  text-align: center;
}

.wulogo {
  display: inline-block;
  width: 90px;
  vertical-align: baseline;
}

/* typeahead.js styles */

.typeahead,
.tt-query,
.tt-hint {
  max-width: 330px;
  height: 30px;
  padding: 8px 12px;
  font-size: 20px;
  line-height: 24px;
  border: 1px solid #ccc;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  outline: none;
}

.typeahead {
  background-color: #fff;
}

.typeahead:focus {
  border: 1px solid #999;
}

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999
}

.tt-menu {
  max-width: 330px;
  margin: 12px 0;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 3px 20px;
  font-size: 14px;
  line-height: 20px;
}

.tt-suggestion:hover {
  cursor: pointer;
  color: #fff;
  background-color: #0097cf;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;

}

.tt-suggestion p {
  margin: 0;
}

/* icon mapping */
.wi-wu-chanceflurries:before {
  content: "\f064";
}
.wi-wu-chancerain:before {
  content: "\f019";
}
.wi-wu-chancesleat:before {
  content: "\f0b5";
}
.wi-wu-chancesnow:before {
  content: "\f01b";
}
.wi-wu-chancetstorms:before {
  content: "\f01e";
}
.wi-wu-clear:before {
  content: "\f00d";
}
.wi-wu-cloudy:before {
  content: "\f002";
}
.wi-wu-flurries:before {
  content: "\f064";
}
.wi-wu-hazy:before {
  content: "\f0b6";
}
.wi-wu-mostlycloudy:before {
  content: "\f002";
}
.wi-wu-mostlysunny:before {
  content: "\f00d";
}
.wi-wu-partlycloudy:before {
  content: "\f002";
}
.wi-wu-partlysunny:before {
  content: "\f00d";
}
.wi-wu-rain:before {
  content: "\f01a";
}
.wi-wu-sleat:before {
  content: "\f0b5";
}
.wi-wu-snow:before {
  content: "\f01b";
}
.wi-wu-sunny:before {
  content: "\f00d";
}
.wi-wu-tstorms:before {
  content: "\f01e";
}
.wi-wu-unknown:before {
  content: "\f00d";
}

/* wu-nt mappings from https://github.com/erikflowers/weather-icons/issues/156 */
/* --- neutral night icons for WU's "chance" --- */
.wi-wu-nt_chanceflurries:before {
  content: "\f064";
}
.wi-wu-nt_chancerain:before {
  content: "\f019";
}
.wi-wu-nt_chancesleet:before {
  content: "\f0b5";
}
.wi-wu-nt_chancesnow:before {
  content: "\f01b";
}
.wi-wu-nt_chancetstorms:before {
  content: "\f01e";
}

/* --- night icons for full moon phase --- */
.wi-wu-nt_clear:before { /* no night-full moon available, using night-stars */
  content: "\f077";
}
.wi-wu-nt_cloudy:before {
  content: "\f031";
}
.wi-wu-nt_flurries:before {
  content: "\f038";
}
.wi-wu-nt_fog:before { /* no full moon night-fog available, using neutral fog */
  content: "\f014";
}
.wi-wu-nt_hazy:before { /* no full moon night-haze available, using neutral fog */
  content: "\f014";
}
.wi-wu-nt_mostlycloudy:before {
  content: "\f031";
}
.wi-wu-nt_partlycloudy:before {
  content: "\f083";
}
.wi-wu-nt_sleet:before {
  content: "\f0b3";
}
.wi-wu-nt_rain:before {
  content: "\f036";
}
.wi-wu-nt_snow:before {
  content: "\f038";
}
.wi-wu-nt_tstorms:before {
  content: "\f03b";
}