div.footer
  div.container
    p.text-muted 
      a(href='http://branigan.net') branigan.net 
      | and 
      a(href='http://wunderground.com'): img.wulogo(src='/images/wundergroundLogo_4c_horz.png')

script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.11.1/typeahead.bundle.min.js')
